body.error404
{
    .site-content
    {
        padding-top: 100px;
    
        .page-main.error-404
        {
            .page-content
            {
                text-align: center;

                .title
                {
                    font-size: 2.5em;
                    
                    @media @phablet
                    {
                        font-size: 2em;
                    }
                }

                .info
                {
                    font-size: 1.5em;
                }
            }
        }
    }
}