.category
{
    .image
    {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    }

    .site-content
    {
        .page-main
        {

            /*
            .title
            {
                line-height: 1.6;
                letter-spacing: 0.02em;
                font-size: 2.25em;
            }*/

            &.with-megabox
            {
                .megabox
                {

                }
            }

            .main-content
            {
                > .category-content
                {
                    position: relative;

                    .post-list,
                    .aside-panel
                    {
                        display: inline-block;
                        vertical-align: top;
                    }
                    
                    .category-text-content
                    {
                        width: 70%;
                        padding-right: @content_padding;
                        
                         @media @phablet
                        {
                            width: 100%;
                            margin: 0 auto;
                            padding: 4em 0;
                        }
                    }

                    .aside-panel
                    {
                        display: block;
                        position: absolute;
                        width: 30%;
                        right: 0;

                        @media @phablet
                        {
                            position: static;
                            width: 100%;
                            margin: 0 auto;
                        }

                        @media @phone
                        {
                            width: 100%;
                        }

                        .popular-posts-list
                        {
                            @media @phablet
                            {
                                padding-bottom: 2rem;
                            }

                            @media @phone
                            {
                                padding-bottom: 2rem;
                            }


                            .block-title
                            {
                                font-size: 1.25rem;
                                font-weight: 500;
                                padding-bottom: 1.25em;
                                color: @c_darkgrey;
                            }

                            .posts-list-content
                            {
                                .post-item
                                {
                                    display: inline-block;
                                    padding: 0 0 2rem;
                                    width: 100%;

                                    @media @phablet
                                    {
                                        display: none;
                                        padding: 0 5px 2rem;
                                        vertical-align: top;
                                        width: 33.33%;

                                        &:nth-of-type(-n+3)
                                        {
                                            display: inline-block;
                                        }
                                    }

                                    @media @phone
                                    {
                                        width: 50%;

                                        &:nth-of-type(3)
                                        {
                                            display: none;
                                        }
                                    }


                                    .item-content
                                    {

                                        .title
                                        {
                                            font-size: 1.15rem;
                                            line-height: 1.5em;
                                            font-weight: normal;
                                            padding: 0;

                                            @media @phablet
                                            {
                                                font-size: 1rem;
                                            }

                                            a
                                            {
                                                color: @c_darkgrey;
                                            }
                                        }

                                        .image
                                        {
                                            margin-bottom: 1rem;

                                            a
                                            {
                                                display: block;
                                                width: 100%;
                                                font-size: 0;

                                                img
                                                {
                                                    width: 100%;
                                                    height: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}