.page-main.five-tiles
{
    .page-head
    {
        .content
        {
            padding-bottom: 135px;
        }
    }

    .main-content.page-content
    {
        position: relative;
        padding-top: 0;

        .tiles-list
        {
            /*position: absolute;*/
            margin-top: -80px;
            margin-left: -10px;
            margin-bottom: 40px;
            width: calc(~"100% + 20px");
            font-size: 0;
            text-align: center;

            .tile-item
            {
                display: inline-block;
                font-size: 1rem;
                vertical-align: top;
                padding: 0 10px 15px;
                width: 20%;
                min-width: 175px;

                @media @tablet
                {
                    width: 25%;
                }

                @media @phablet
                {
                    width: 33.333%;
                }

                @media @phone
                {
                    width: 75%;
                }

                .tile-panel
                {
                    .flex-display();
                    .flex-direction(column);
                    position: relative;
                    background-color: @c_white;
                    height: 200px;
                    color: #94a2a8;
                    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);

                    .tile-content
                    {
                        .flex-display();
                        .align-items(center);
                        .justify-content(center);
                        .flex-direction(column);
                        .flex-grow(1);
                        padding: 8px 10px;

                        .image-container
                        {
                            position: relative;
                            width: 55px;
                            height: 55px;
                            margin: 0 auto;
                            margin: 0 auto 10px;

                            .image
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-size: contain;
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }

                        .title
                        {
                            font-size: 16px;
                            color: @c_green;
                            margin: 0;
                            padding: 0;
                            font-weight: normal;
                            line-height: inherit;
                        }
                    }

                    .desciption
                    {
                        .flex-display();
                        .align-items(center);
                        padding: 8px 10px;
                        background-color: #f5f6f7;
                        border-top: 1px solid #d2d7dc;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.3;
                    }

                }
            }
        }
    }
}

.tiles-description {
    margin-bottom: 40px;
}
