#pgc-4-0-0,#pgc-4-4-0{
	width:100%;
	width:calc(100% - (0*0px))
}
#pg-4-0,#pg-4-1,#pg-4-2,#pg-4-3,#pl-4 .so-panel,#pl-4 .so-panel:last-child{
	margin-bottom:0
}
#pgc-4-1-0,#pgc-4-1-1,#pgc-4-2-0,#pgc-4-2-1,#pgc-4-3-0,#pgc-4-3-1{
	width:50%;
	width:calc(50% - (.5*0px))
}
#pg-4-0.panel-no-style,#pg-4-0.panel-has-style>.panel-row-style,#pg-4-1.panel-no-style,#pg-4-1.panel-has-style>.panel-row-style,#pg-4-2.panel-no-style,#pg-4-2.panel-has-style>.panel-row-style,#pg-4-3.panel-no-style,#pg-4-3.panel-has-style>.panel-row-style,#pg-4-4.panel-no-style,#pg-4-4.panel-has-style>.panel-row-style{
	-webkit-align-items:flex-start;
	align-items:flex-start
}
@media (max-width:767px){
	#pg-4-0.panel-no-style,#pg-4-0.panel-has-style>.panel-row-style,#pg-4-1.panel-no-style,#pg-4-1.panel-has-style>.panel-row-style,#pg-4-2.panel-no-style,#pg-4-2.panel-has-style>.panel-row-style,#pg-4-3.panel-no-style,#pg-4-3.panel-has-style>.panel-row-style,#pg-4-4.panel-no-style,#pg-4-4.panel-has-style>.panel-row-style{
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column
	}
	#pg-4-0 .panel-grid-cell,#pg-4-1 .panel-grid-cell,#pg-4-2 .panel-grid-cell,#pg-4-3 .panel-grid-cell,#pg-4-4 .panel-grid-cell{
		margin-right:0
	}
	#pg-4-0 .panel-grid-cell,#pg-4-1 .panel-grid-cell,#pg-4-2 .panel-grid-cell,#pg-4-3 .panel-grid-cell,#pg-4-4 .panel-grid-cell{
		width:100%
	}
	#pgc-4-1-0,#pgc-4-2-0,#pgc-4-3-0,#pl-4 .panel-grid .panel-grid-cell-mobile-last{
		margin-bottom:0
	}
	#pl-4 .panel-grid-cell{
		padding:0
	}
	#pl-4 .panel-grid .panel-grid-cell-empty{
		display:none
	}
}

.panel-grid.panel-has-style>.panel-row-style,.panel-grid.panel-no-style{
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:nowrap;
	-ms-justify-content:space-between;
	justify-content:space-between
}
.panel-layout.panel-is-rtl .panel-grid.panel-has-style>.panel-row-style,.panel-layout.panel-is-rtl .panel-grid.panel-no-style{
	-ms-flex-direction:row-reverse;
	flex-direction:row-reverse
}
.panel-grid-cell{
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
.panel-grid-cell .panel-cell-style{
	height:100%
}
.panel-grid-cell .so-panel{
	zoom:1
}
.panel-grid-cell .so-panel:before{
	content:"";
	display:block
}
.panel-grid-cell .so-panel:after{
	content:"";
	display:table;
	clear:both
}
.panel-grid-cell .panel-last-child{
	margin-bottom:0
}
.panel-grid-cell .widget-title{
	margin-top:0
}
body.siteorigin-panels-before-js{
	overflow-x:hidden
}
body.siteorigin-panels-before-js .siteorigin-panels-stretch{
	margin-right:-1000px!important;
	margin-left:-1000px!important;
	padding-right:1000px!important;
	padding-left:1000px!important
}
