.product-list.accounts_personal
{
	.filters
	{
		.slider
		{
			width: 48%;
			margin-right: 3%;
			display: inline-block;
			margin-bottom: 2em;

			&:nth-of-type(2)
			{
				margin-right: 0;
			}
		}

		.options
		{
			.option
			{
				display: inline-block;
				width: 25%;
				margin-right: 5%;
				margin-bottom: 1.5em;

				@media @phablet
				{
					width: 45%;
					margin-right: 3%;
				}
			}
		}
	}

	.products
	{
		&.list
		{
			.name
			{
				font-size: 1em;

				@media @tablet
				{
					font-size: 0.8em;
				}

				@media @phone
				{
					font-size: 1.3em;
				}
			}
		}
	}
}