.product-list.quickloans
{
	.products
	{
		.data-row
		{
			&.maxperiod
			{
				/*width: 15%;*/
			}

			&.cost
			{
				/*width: 15%;*/

				del
				{
					font-weight: normal;
					font-size: 0.65em;
					padding-top: 0.4em;
					color: @c_grey;
				}
			}

			.tooltip
			{
				padding: 0;
			}
		}
		.name
		{
			/*width: 18%;*/
			font-size: 1em;

			img
			{
				max-width: 90%;
			}
            
			div
			{
				padding: 5%;
				font-size: .8em;
			}
		}
	}

	.filters
	{
		.options
		{
			font-size: 0;
			& > div
			{
				display: inline-block;
				width: 50%;
				vertical-align: top;
				font-size: 1rem;
				padding: 0.75em 1.5em;
				font-size: 1rem;

				&:nth-child(2n)
				{
					margin-right: 0;
				}
			}
		}
	}
}
