.product-list.credits
{
	.filters
	{
		.slider
		{
			display: inline-block;
			margin-bottom: 2em;
		}

		.options
		{
			.option
			{
				display: inline-block;
				width: 25%;
				margin-right: 5%;
				margin-bottom: 1.5em;
			}
		}
	}

	.products
	{
		&.header
		{
            li
            {
                .data-row
                {
                    width: 14.285%;

                    @media @phablet
                    {
                        width: 25%;                  
                    }
                }
            }
		}

		&.list
		{
            > ul > li
            {  
                .data-row
                { 
                    width: 14.285%;

                    @media @tablet
                    {
                        font-size: 1.1rem;
                    }

                    @media @phablet
                    {				
                        vertical-align: top;
                        width: 25%;
                    } 

                    .name
                    {
                        @media @tablet
                        {
                            font-size: 0.8em;
                        }

                        @media @phone
                        {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
	}
}
