.product-list.accounts_business
{
	.filters
	{
		.slider
		{
			width: 40%;
			margin-right: 5%;
			display: inline-block;
			margin-bottom: 2em;
		}

		.options
		{
			height: 100px;

			@media @phablet
			{
				height: auto;
			}
			.option
			{
				display: inline-block;
				width: 23%;
				margin-right: 1.5%;
				margin-bottom: 1.5em;
				line-height: 60px;

				@media @tablet
				{
					line-height: 20px;
					width: 45%;
					margin-right: 3%;
				}

				@media @phone
				{
					width: 100%;
				}
			}
		}
	}

	.products
	{	
		&.list
		{
			.name
			{
				font-size: 1em;

				@media @tablet
				{
					font-size: 0.8em;
				}

				@media @phone
				{
					font-size: 1.3em;
				}
			}
		}
	}
}