.product-list.loans
{
	.filters
	{
		.slider
		{
			width: 48%;
			margin-right: 3%;
			display: inline-block;
			margin-bottom: 2em;

			&:nth-of-type(2)
			{
				margin-right: 0;
			}
		}

		.options
		{
			.option
			{
				display: inline-block;
				width: 25%;
				margin-right: 5%;
				margin-bottom: 1.5em;
			}
		}
	}

	.products
	{
		.data-row
		{
			&.maxperiod
			{
				/*width: 15%;*/
			}

			&.cost
			{
				/*width: 15%;*/
			}

			.tooltip
			{
				padding: 0;
			}
		}
		.name
		{
			/*width: 18%;
			font-size: 1em;*/
			img
			{
				max-width: 90%;
			}
            
			div
			{
				padding: 5%;
				font-size: .8em;
			}
		}
	}
}
