.vendor(@property; @value)
{
    -webkit-@{property}: @value;
       -moz-@{property}: @value;
        -ms-@{property}: @value;
         -o-@{property}: @value;
            @{property}: @value;
}

.transition(@transition)
{
	.vendor(transition, @transition);
}

.border-radius (@radius)
{
	.vendor(border-radius, @radius);
}

.opacity (@opacity)
{
	.vendor(opacity, @opacity);
}

.gradient (@startColor: #eee, @endColor: white)
{
	background-color:					@startColor;
	background:							-webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background:							-webkit-linear-gradient(top, @startColor, @endColor);
	background:							-moz-linear-gradient(top, @startColor, @endColor);
	background:							-ms-linear-gradient(top, @startColor, @endColor);
	background:							-o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white)
{
 	background-color:					@startColor;
	background-image:					-webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image:					-webkit-linear-gradient(left, @startColor, @endColor);
	background-image:					-moz-linear-gradient(left, @startColor, @endColor);
	background-image:					-ms-linear-gradient(left, @startColor, @endColor);
	background-image:					-o-linear-gradient(left, @startColor, @endColor);
}

.transform(@string)
{
	.vendor(transform, @string);
}

.scale (@factor)
{
	.vendor(transform, scale(@factor));
}

.rotate (@deg)
{
	.vendor(transform, rotate(@deg));
}

.skew (@deg, @deg2)
{
	.vendor(transform, skew(@deg, @deg2));
}

.translate (@x, @y:0)
{
	.vendor(transform, translate(@x, @y));
}

.translateX (@x)
{
	.vendor(transform, translateX(@x));
}
.translateY (@y)
{
	.vendor(transform, translateY(@y));
}
.translateZ (@z)
{
	.vendor(transform, translateZ(@z));
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25)
{
	-webkit-box-shadow:					@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:					@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:							@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.drop-shadow-ex (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @color: ~"rgba(0, 0, 0, 0.25)", @inset: ~"")
{
	-webkit-box-shadow:					@x @y @blur @spread @color @inset;
	-moz-box-shadow:					@x @y @blur @spread @color @inset;
	box-shadow:							@x @y @blur @spread @color @inset;
}

.hidetext()
{
	white-space:	nowrap;
	overflow:		hidden;
	text-indent:	-4321px;
}

.background-svg-replace-fill(@src, @fill-default, @fill-new)
{
	@escape-fill-default: escape(@fill-default);
	@escape-fill-new: escape("@{fill-new}");
	@data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
	@replace-src: replace("@{data-uri}", @escape-fill-default, @escape-fill-new, "g");
	background-image:e(@replace-src);
}

.background-svg-fill(@src, @fill-new)
{
	@data-uri: data-uri('image/svg+xml;charset=UTF-8', "@{src}");
	@replace-default: escape('<path ');
	@replace-new: escape('<path fill="@{fill-new}" ');
	@replace-src: replace("@{data-uri}", @replace-default, @replace-new, "g");
	background-image: e(@replace-src);
}

.notransition()
{
  -webkit-transition:	none !important;
	 -moz-transition:	none !important;
	  -ms-transition:	none !important;
	   -o-transition:	none !important;
		  transition:	none !important;
}



/* do stosowania na rodzicu elementu floatowango. Dzieki temu zachowuje swoją wysokosc*/
.clearfix()
{
	&::after
	{
		content: " ";
		display: block; clear: both;
	}
}

/* ŚRODKOWANIE ELEMENTU W PIONIE GDY NIEZNAMY JEGO WYMIARÓW
 * zazwyczaj wystarczy dać .center-vertical(); elementowi ktory chcemy wyśrodkować
 * można też dać własną wysokość na jakiej ma się znaleźć (domyślnie 50%)
 * W zaleznosci od stylowania rodzica czasami zachodzi potrzeba pozycjonowania absolutnego lub nadania wysokości rodzicowi
 */

.center-vertical(@pos: relative, @percent: 50%)
{
	position: @pos;
	top: @percent;
	.translateY(-50%);
}

.button_reset()
{
	button
	{
		border-radius:		0;
		padding:			10px;
		border:				0;
		margin:				0;
		color:				@c_text_default;
		background-color:	rgba(255,255,255,0);

		&:hover
		{
			opacity:				1;
		}
	}
}


@keyframes spinner
{
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner
{
    to {-webkit-transform: rotate(360deg);}
}


.spinner()
{
    min-width: 24px;
    min-height: 24px;

	&:before
	{
		position:				absolute;
		top:					50%;
		left:					50%;
		width:					16px;
		height:					16px;
		margin-top:				-10px;
		margin-left:			-10px;
		content: '';
		border-radius:			50%;
		border:					2px solid transparent;
		border-top-color:		#03ade0;
		border-bottom-color:	#03ade0;
		animation:				spinner .8s ease infinite;
		-webkit-animation:		spinner .8s ease infinite;
	}
}




/*
 * FLEX
 */

/*
.flex-box()
{
    display: -webkit-box;		// OLD - iOS 6-, Safari 3.1-6 //
    display: -moz-box;			// OLD - Firefox 19- (doesn't work very well) //
    display: -ms-flexbox;		// TWEENER - IE 10 //
    display: -webkit-flex;		// NEW - Chrome //
    display: flex;				// NEW, Spec - Opera 12.1, Firefox 20+ //
}
*/

/* Flexbox display
 * flex or inline-flex
 */
.flex-display(@display: flex)
{
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

/* The 'flex' shorthand
 * - applies to: flex items
 * <positive-number>, initial, auto, or none
 */
.flex(@columns: initial)
{
  -webkit-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

/* Flex Flow Direction
 * - applies to: flex containers
 * row | row-reverse | column | column-reverse
 */
.flex-direction(@direction: row)
{
  -webkit-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

/* Flex Line Wrapping
 * - applies to: flex containers
 * nowrap | wrap | wrap-reverse
 */
.flex-wrap(@wrap: nowrap)
{
  -webkit-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

/* Flex Direction and Wrap
 * - applies to: flex containers
 * <flex-direction> || <flex-wrap>
 */
.flex-flow(@flow)
{
  -webkit-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

/* Display Order
 * - applies to: flex items
 * <integer>
 */
.flex-order(@order: 0)
{
  -webkit-order: @order;
      -ms-order: @order;
          order: @order;
}

/* Flex grow factor
 * - applies to: flex items
 * <number>
 */
.flex-grow(@grow: 0)
{
  -webkit-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

/* Flex shrink
 * - applies to: flex item shrink factor
 * <number>
 */
.flex-shrink(@shrink: 1)
{
  -webkit-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

/* Flex basis
 * - the initial main size of the flex item
 * - applies to: flex itemsnitial main size of the flex item
 * <width>
 */
.flex-basis(@width: auto)
{
  -webkit-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

/* Axis Alignment
 * - applies to: flex containers
 * flex-start | flex-end | center | space-between | space-around
 */
.justify-content(@justify: flex-start)
{
  -webkit-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

/* Packing Flex Lines
 * - applies to: multi-line flex containers
 * flex-start | flex-end | center | space-between | space-around | stretch
 */
.align-content(@align: stretch) {
  -webkit-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

/* Cross-axis Alignment
 * - applies to: flex containers
 * flex-start | flex-end | center | baseline | stretch
 */
.align-items(@align: stretch)
{
  -webkit-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

/* Cross-axis Alignment
 * - applies to: flex items
 * auto | flex-start | flex-end | center | baseline | stretch
 */
.align-self(@align: auto)
{
  -webkit-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}


/* ZAMIANA KOLEJNOŚCI BLOKÓW
 * ułożenia elementów w innej kolejności
 * rodzic powinien miec .vertical-flex-box();
 * Potomkom ktorym chcemy zmienic kolejność dajemy .flex-order(nr_porządkowy)
 */

.vertical-flex-box()
{
    display: -webkit-box;		/* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;			/* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;		/* TWEENER - IE 10 */
    display: -webkit-flex;		/* NEW - Chrome */
    display: flex;				/* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-orient:			vertical;
	   -moz-box-orient:			vertical;
	-webkit-flex-direction:		column;
		-ms-flex-direction:		column;
			flex-direction:		column;

	-webkit-box-align: start;
	   -moz-box-align: start;
	   -ms-flex-align: start;
	-webkit-align-items: flex-start;
			align-items: flex-start;
}
.horizontal-flex-box()
{
    display: -webkit-box;		/* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;			/* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;		/* TWEENER - IE 10 */
    display: -webkit-flex;		/* NEW - Chrome */
    display: flex;				/* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-orient:			horizontal;
	   -moz-box-orient:			horizontal;
	-webkit-flex-direction:		row;
		-ms-flex-direction:		row;
			flex-direction:		row;

	-webkit-box-align: start;
	   -moz-box-align: start;
	   -ms-flex-align: start;
	-webkit-align-items: flex-start;
			align-items: flex-start;
}

.flex-order(@order)
{
	-webkit-box-ordinal-group:	@order;     /* OLD - iOS 6-, Safari 3.1-6 */
	   -moz-box-ordinal-group:	@order;		/* OLD - Firefox 19- */
			   -ms-flex-order:	@order;		/* TWEENER - IE 10 */
				-webkit-order:	@order;		/* NEW - Chrome */
						order:	@order;

    -webkit-box-flex:			@order;		/* NEW, Spec - Opera 12.1, Firefox 20+ */
	   -moz-box-flex:			@order;
			-ms-flex:			@order;		/* TWEENER - IE 10 */
		-webkit-flex:			@order;		/* NEW - Chrome */
				flex:			@order;
}

.user-select(@select)
{
	-webkit-touch-callout: @select; /* iOS Safari */
	-webkit-user-select: @select; /* Safari */
	-khtml-user-select: @select; /* Konqueror HTML */
	-moz-user-select: @select; /* Firefox */
	-ms-user-select: @select; /* Internet Explorer/Edge */
	user-select: @select;
}