
/* _____________________________________________________________________________ reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a, abbr, code
em, img, strong, ol, ul, li, fieldset, form, label,
table, caption, tr, td, article, aside, canvas, embed,
figure, figcaption, footer, header, main
menu, nav, section, summary, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section
{
	display: block;
}

html
{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body
{
	line-height: 1;
}
/*
ul
{
	list-style: none;
}
*/
ol
{
	list-style: inside decimal;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

a
{
	text-decoration:none;
}

input
{
    -webkit-appearance: none;
    border-radius: 0;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

