@c_white: #ffffff;
@c_black: #000000;
/*@c_green: #38ef7d;*/
@c_green_stronglight: rgb(56, 239, 125);
@c_green_light: rgb(188, 239, 209);
@c_green: rgb(48, 222, 128);
@c_green_dark: rgb(28, 144, 31);
@c_blue_dark: rgb(6, 93, 103);
@c_grey: rgb(134, 148, 158);
@c_grey_light: rgb(249, 249, 251);
@c_grey_light2: rgb(235, 238, 242);
@c_grey_light2_50: rgba(235, 238, 242, 0.5);


@c_green_gradient: linear-gradient(135deg, rgba(53,237,122,1) 0%,rgba(39,195,130,1) 100%);
@c_green_gradient_light: linear-gradient(135deg, rgba(53,237,122,0.8) 0%,rgba(39,195,130,0.8) 100%);
@c_green_gradient_dark: linear-gradient(135deg, rgba(20, 234, 100, 1) 0%,rgba(33, 170, 113, 1) 100%);


@c_darkgrey: rgb(88,101,114);
@c_lightgrey: rgb(183, 194, 201);
@c_lightestgrey: rgba(244, 244, 244, 0.51);
@c_lightergrey: rgba(222, 222, 222, 0.51);

@transition_speed: 0.3s;


@content_padding: 15px;
@narrow_content_padding: 150px;
@content_width: 1280px;

@desktop: ~"only screen and (max-width: 1189px)";
@tablet: ~"only screen and (max-width: 1023px)";
@phablet: ~"only screen and (max-width: 767px)";
@phone: ~"only screen and (max-width: 479px)";

@rubik: ~"Rubik, Arial, Helvetica, Sans-Serif";





