.wecode-widget.em-text-block-widget
 {
     padding: 1em 0;

     .widget-content
     {
         padding: 2em;
         box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
     }
 }

.highlighted
{
    margin: 1em 0;
    padding: 2em;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}