.wecode-widget.image-widget
{
    width: 100%;
    margin: 1em auto 2em;

    .image
    {
        margin: 0;
        font-size: 0;

        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .description
    {
        font-size: 0.75em;
        text-align: right;
        padding: 0.3em 0 0;
    }

}