.scroll-to-content
{
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: -21px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);

    @media @tablet
    {
        left: @narrow_content_padding/2;
    }

    @media @phablet
    {
        left: @narrow_content_padding/3;
    }

    @media @phone
    {
        left: @narrow_content_padding/6;
    }

    &:hover
    {
        &:after
        {
            opacity: 1;
        }
    }

    &:before,
    &:after
    {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: @transition_speed;
    }
    &:before
    {
        background: @c_green_gradient;
    }

    &:after
    {
        background: @c_green_gradient_dark;
        opacity: 0;
    }

    > span
    {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        height: 18px;
        width: 18px;
        margin: -9px -9px;
        z-index: 3;

        svg
        {
            display: block;
            max-width: 100%;
            max-height: 100%;
            stroke: @c_white;
        }
    }
}

.terms-list
{
    > .term
    {
        display: inline-block;
        margin: 0 0.5em 0.5em 0;
        padding: 0 1em;
        border-radius: 3em;
        background-color: @c_white;
        color: @c_grey;
        font-size: 0.75em;
        line-height: 22.5px;
        height: 20px;
        text-transform: uppercase;

        &:last-of-type
        {
            margin-right: 0;
        }
    }

    &.dark
    {
        > .term
        {
            background-color: @c_grey_light2;
            color: @c_grey;
        }
    }
}

.read-more
{
    position: relative;
    display: inline-block;
    padding-right: 65px;

    &:hover
    {
        &:after
        {
            right: 5px;
        }
    }

    &:after
    {
        position: absolute;
        display: block;
        content: "";
        right: 0;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 50px;
        background-color: @c_blue_dark;
        transition: @transition_speed;
    }
}

.sortable
{
    &.asc
    {
        > a
        {
            .arrow
            {
                .rotate(-45deg);
            }
        }

    }

    > a
    {
        position: relative;
        display: inline-block;
        padding-right: 20px;
        
        @media @phone
        {
            padding-right: 15px;                             
        }           

        .arrow
        {
            position: absolute;
            display: block;
            top: 48%;
            right: 0;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            transition: @transition_speed;
            .rotate(135deg);
            pointer-events:none; 
                            
            @media @phone
            {
                width: 10px;
                height: 10px;
                margin-top: -5px;                                
            }            

            &:before,
            &:after
            {
                position: absolute;
                display: block;
                content: "";
                top: 25%;
                border-radius: 3px;
                background-color: @c_blue_dark
            }
            &:before
            {
                width: 75%;
                height: 2px;
                left: 0;
            }
            &:after
            {
                width: 2px;
                height: 75%;
                right: 25%;
            }
        }

    }
}

.star-rating
{
    font-size: 0;
    
    .stars
    {
        display: inline-block;
        vertical-align: top;
        margin-right: 0.4rem;
        /*margin-bottom: 1rem;*/
        @media @phablet
        {
            margin-bottom: 1rem;            
        }
        
        & > span
        {            
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.2rem;
            position: relative;
            overflow: hidden;
            &:before
            {
                background-image: url(../img/stars.png);
                background-size: auto 100%;
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: relative;
                z-index: 9;
            }

            &.empty
            {
                &:before
                {
                    background-position: -100% top;
                }
            }
            &.part
            {
                span
                {
                    width: 60%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: #3cdc83;
                    z-index: 0;
                    top: 0;
                    left: 0;
                }
            }
            &.full
            {
                &:after
                {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: #3cdc83;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    content: "";
                }
            }
        }
    }

    &.selectable
    {
        .stars > span
        {
            cursor: pointer;
        }
    }

}
