.author-block
{    
    margin: 0 0 2em;
    
    .block-content
    {
        .flex-display();
        .align-items(center);
        
        .avatar
        {
            overflow: hidden;
            margin: 0 14px 0 0;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            
            img
            {
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
        
        .info
        {
            
            .name
            {
                padding: 0;
                font-weight: normal;
                color: currentColor;
            }
            
            .date
            {
                .flex-display();
                .align-items(center);
                margin-top: 2px;
                color: currentColor;
                
                .date-icon
                {
                    width: 13px;
                    height: 13px;
                    margin-right: 10px;
                    margin-top: -1px;
                }
            }
            
            /*
            {
                color: currentColor;
                opacity: 0.75;
            }*/
        }
    }

    &.no-avatar
    {
        .block-content
        {           
            .info
            {
                .flex-display();
                .align-items(center);
                margin-left: 10px;
            }  
        }
    }
}