.breadcrumbs
{
    list-style:none;
    padding: 0 0 1rem;
    overflow:hidden;
    font-size:1rem;

    &:first-child
    {
        padding: 0 0 1.5rem;
    }

    &:last-child
    {
        padding: 0 0 2rem;
    }

    li
    {
        display:inline-block;
        vertical-align:middle;
        padding: 10px 0;
        border-bottom: 1px solid transparent;

        a
        {
            color: @c_darkgrey;

            &:hover
            {
                color: @c_green;
            }
        }

        &.item-link
        {
            border-bottom-color: @c_grey_light2;
        }

        &.item-current
        {
            color: rgb(155,166,175);
        }

        &.separator
        {
            font-weight:100;
            color: rgb(206,214,221);
            margin: 0 15px;
            font-weight: bold;
        }
    }


}
