.ikalCalc {
  display: block;
  margin: 50px auto;
  max-width: 600px;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 60px;
  background: linear-gradient(135deg, rgba(20, 234, 100, 1) 0%, rgba(33, 170, 113, 1) 100%);
  -webkit-box-shadow:inset 0 0 100px 0 rgba(0,0,0,0.1);
  box-shadow:inset 0 0 100px 0 rgba(0,0,0,0.1);

  input[type="text"] {
    background: #ffffff;
    display: inline-block;
    border: none;
    font-size: 17px;
    padding: 11px 2em;
    border-radius: 2em;
    background-repeat: no-repeat;
    background-position: 1.5em center;
    color: #536675;
    text-align: left;
    margin: 10px 20px;
    -webkit-box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);

    @media @phablet
    {
      width: 100%;
    }
  }

  .row {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    display: inline-block;
    border: none;
    font-size: 17px;
    padding: 11px 2em;
    border-radius: 2em;
    background-position: 1.5em center;
    color: #536675;
    text-align: left;
    margin: 10px 20px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#536675'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-color: #fff;
    background-size: 12px;
    background-position: calc(100% - 20px) 18px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);

    @media @phablet
    {
      width: 100%;
    }
  }

  select::-ms-expand {
    display: none;
  }

  div.checkbox {
    display: inline-block;
  }

  input[type=checkbox] + label, input[type=radio] + label
  {
    padding-left: 35px;
  }

  input[type=checkbox] + label:before, input[type=radio] + label:before {
    top: -2px;
  }

  &.ikalCalc__percOf {

    .ikalCalc__percOf__input1,
    .ikalCalc__percOf__input2 {
      width: 160px;
    }
  }

  &.ikalCalc__whatPerc {

    .ikalCalc__whatPerc__input1 {
      margin-left: 0;
    }
    .ikalCalc__whatPerc__input2 {
      margin-right: 0;
    }
    .ikalCalc__whatPerc__input1,
    .ikalCalc__whatPerc__input2 {
      width: 125px;
    }
  }

  &.ikalCalc__percRaise {

    .ikalCalc__percRaise__input1,
    .ikalCalc__percRaise__input2 {
      width: 150px;
    }
  }

  &.ikalCalc__percAddition {

    .ikalCalc__percAddition__input1 {
      margin-left: 0;
    }
    .ikalCalc__percAddition__input1,
    .ikalCalc__percAddition__input2 {
      width: 150px;
    }
  }

  &.ikalCalc__percSubtract {

    .ikalCalc__percSubtract__input1 {
      margin-left: 0;
    }
    .ikalCalc__percSubtract__input1,
    .ikalCalc__percSubtract__input2 {
      width: 150px;
    }
  }

  &.ikalCalc__investment {

    .ikalCalc__investment__time__value {
      width: 170px;
      margin-right: 5px;
    }

    .ikalCalc__investment__time__unit {
      width: 140px;
      margin-left: 5px;
    }
  }

  &.ikalCalc__regSavings {

    .ikalCalc__regSavings__amount,
    .ikalCalc__regSavings__freq,
    .ikalCalc__regSavings__compFreq {
      width: 200px;
    }

    .ikalCalc__regSavings__years {
      width: 190px;
    }

  }

  &.ikalCalc__regSavingsByAmount {

    .ikalCalc__regSavingsByAmount__freq,
    .ikalCalc__regSavingsByAmount__compFreq {
      width: 190px;
    }

    .ikalCalc__regSavingsByAmount__amount {
      width: 200px;
    }

  }

  &.ikalCalc__percOf .ikalCalc__percOf__output,
  &.ikalCalc__whatPerc .ikalCalc__whatPerc__output,
  &.ikalCalc__percRaise .ikalCalc__percRaise__output,
  &.ikalCalc__percAddition .ikalCalc__percAddition__output,
  &.ikalCalc__percSubtract .ikalCalc__percSubtract__output,
  &.ikalCalc__compInterest .ikalCalc__compInterest__output,
  &.ikalCalc__investment .ikalCalc__investment__output,
  &.ikalCalc__regSavings .ikalCalc__regSavings__output,
  &.ikalCalc__regSavingsByAmount .ikalCalc__regSavingsByAmount__output {
    background: transparent;
    box-shadow: none;
    color: #ffffff;
    padding: 0;
    font-size: 42px;
    width: 240px;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  &.ikalCalc__regSavingsByAmount .ikalCalc__regSavingsByAmount__output {
    width: 100%;
    font-size: 24px;
    line-height: 1.1;
    margin: 30px 0;
  }
}

@media screen and (min-width:0\0) {
  .ikalCalc select {
    background:none\9;
    padding: 5px\9;
  }
}

@media screen and (min-width:0\0) {
  .ikalCalc select {
    background:none\9;
    padding: 5px\9;
  }
}
