.comments
{
    border-top: 1px solid @c_lightgrey;
    padding-top: 2em;

    .visible
    {
        display: none;
    }

    .invisible
    {
        display: block;
    }

    &.visible
    {
        .visible
        {
            display: block;
        }
        .invisible
        {
            display: none;
        }
    }

    .show-action
    {
        text-align: center;

        button
        {
            font-size: 0.8rem;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    .comments-content
    {
        padding: 2rem;
        width: calc(~"100% + 4rem");
        margin-left: -2rem;

        .reply-title
        {
            padding: 1em;
            font-size: 1em;
        }

        .commentlist
        {
            list-style: none;

            .comment
            {
                .comment-body
                {
                    padding: 1.5rem;
                    border: 1px solid @c_lightgrey;
                    margin-bottom: 2em;
                    font-size: 14px;
                    box-shadow: 0px 1px 2rem -3px rgba(0, 0, 0, 0.15);

                    @media @phablet
                    {
                        font-size: 12px;
                    }

                    .comment-meta
                    {
                        position: relative;
                        padding-bottom: 1.5rem;
                        @media @phablet
                        {
                            padding-right: 60px;
                        }

                        .comment-author
                        {
                            display: inline-block;
                            vertical-align: top;
                            padding-right: 1rem;

                            .fn
                            {
                                font-weight: 500;
                            }
                        }

                        .comment-metadata
                        {
                            display: inline-block;
                            vertical-align: top;

                            .comment-time
                            {
                                padding-right: 1rem;
                            }

                            .edit-link
                            {
                                font-weight: 500;
                            }

                            .star-rating
                            {
                                position: absolute;
                                right: 0;
                                top: 0;

                                @media @phablet
                                {
                                    .stars > span
                                    {
                                        width: 0.8rem;
                                        height: 0.8rem;
                                        margin-right: 0.1rem;
                                        top: 2px;
                                        right: -3px;
                                    }
                                }
                            }
                        }
                    }

                    .comment-content
                    {
                        > *:last-child
                        {
                            padding-bottom: 0;
                        }
                    }

                    .reply
                    {
                        padding: 1em 0 0;
                        text-align: right;
                        line-height: 1;
                    }
                }

                .children
                {
                    list-style: none;
                    padding-left: 2rem;
                }
            }
        }

        .comment-respond
        {
            margin-top: 4em;
            padding: 1rem 15% 0;

            @media @phablet
            {
                padding: 1rem 1rem 0;
            }

            h3
            {
                padding: 0 0 1em;

                @media @phablet
                {
                    small
                    {
                        display: block;
                        margin-top: 1em;
                    }
                }
            }
            p
            {
                padding-bottom: 2em;
            }

            .comment-form
            {
                text-align: center;

                label
                {
                    display: block;
                    padding-bottom: 0.5rem;
                    line-height: 1;
                }

                input[type=email],
                input[type=text],
                textarea
                {
                    background: @c_white;
                    border: none;
                    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.15);
                    font-size: 1rem;
                    padding: 0.75em 2em 0.75em;
                    border-radius: 5px;
                    min-width: 0;
                    color: @c_grey;
                    text-align: left;
                    font-family: inherit;
                    border-radius: 2em;
                }

                .comment-notes
                {
                    text-align: left;
                    color: @c_grey;
                    font-size: 0.8em;
                }

                .comment-form-comment
                {
                    text-align: left;

                    textarea
                    {
                        width: 100%;
                        height: 10em;
                        resize: vertical;
                        -webkit-appearance: none;
                    }
                }

                .details
                {
                    position: relative;
                    font-size: 0;

                    .comment-form-author,
                    .comment-form-email,
                    .comment-form-rating
                    {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 1rem;
                    }

                    .comment-form-author,
                    .comment-form-email
                    {
                        width: 50%;
                        text-align: left;

                        @media @phablet
                        {
                            width: 100%;
                            max-width: 400px;
                        }

                        input
                        {
                            background-repeat: no-repeat;
                            background-position: 1em center;
                            padding-left: 3.5em;
                            width: 100%;
                        }
                    }

                    .comment-form-author
                    {
                        padding-right: 1em;

                        @media @phablet
                        {
                            padding-right: 0;
                        }

                        input
                        {
                            background-image: url(../icons/green/user.svg);
                        }
                    }

                    .comment-form-email
                    {
                        padding-left: 1em;

                        @media @phablet
                        {
                            padding-left: 0;
                        }

                        input
                        {
                            background-image: url(../icons/green/mail.svg);
                        }
                    }
                }

                .gglcptch
                {
                    font-size: 1rem;
                    display: inline-block;
                }
            }
        }
    }
}

/*
.comments
{
    .comments-content
    {
        .comment-respond
        {
            margin-top: 4em;
            padding-top: 2em;
            border-top: 1px solid @c_lightgrey;
            padding-left: 1.9em;

            h3
            {
                padding-left: 0;
            }

            .comment-notes
            {
                color: @c_grey;
                font-size: 0.8em;
            }

            label
            {
                display: block;
                padding-left: 0em;
                padding-bottom: 0.2em;
            }

            input[type=text],
            textarea
            {
                background: @c_white;
                border: none;
                .drop-shadow(0px, 1px, 15px, -3px, 0.1);
                font-size: 0.8em;
                padding: 0 2em;
                line-height: 3em;
                border-radius: 2em;
                min-width: 300px;
                color: @c_grey;
                text-align: left;
            }
            input[name=email]
            {
                background: @c_white;
                border: none;
                .drop-shadow(0px, 1px, 15px, -3px, 0.1);
                font-size: 0.8em;
                padding: 0 2em 0 4em;
                line-height: 3em;
                border-radius: 2em;
                min-width: 300px;
                background-image: url(../icons/green/mail.svg);
                background-repeat: no-repeat;
                background-position: 1.5em center;
                color: @c_grey;
                text-align: left;
            }

            textarea
            {
                width: 60%;
                height: 10em;
                padding-top: 0.7em;
            }
        }
    }
}
*/
