.ikal__countdown__wrap {
  text-align: center;
  margin: 20px 0;
}

.ikal__countdown {
  display: inline-block;
  text-align: center;
  border: 4px solid #30de80;
  padding: 20px 50px;
  border-radius: 80px;

  .ikal__countdown__msg {

  }

  .ikal__countdown__cell {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 36px;
    }
  }
}


