.floating-header
{
    position: fixed;
    display: block;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 110;

    progress.reading-progress
    {
        position: relative;
        display: block;
        margin: 0;
        width: 100%;
        height: 5px;

        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: 0;
        vertical-align: top;
        background-color: transparent;
        color:  @c_green;
         z-index: 2;

        &::-webkit-progress-bar
        {
            background-color: transparent;
        }

        &::-webkit-progress-value
        {
            background-color: @c_green;
        }

        &::-moz-progress-bar
        {
            background-color: @c_green;
        }
    }

    &.active
    {
        .floating-header-main
        {
            .translateY(0%);
        }
    }

    .floating-header-main
    {
        position: absolute;
        top: 0;
        left: 0;
        .translateY(-100%);
        padding-top: 5px;
        width: 100%;
        transition: @transition_speed;
        background-color: @c_white;
        box-shadow: 0 0px 15px 0 rgba(0,0,0,0.25);
        z-index: 1;



        .floating-header-content
        {
                width: 100%;
                max-width: @content_width;
                padding: 0 @narrow_content_padding;
                margin: 0 auto;

                @media @tablet
                {
                    padding: 0 @narrow_content_padding/2;
                }

                @media @phablet
                {
                    padding: 0 @narrow_content_padding/3;
                }

                @media @phone
                {
                    padding: 0 @narrow_content_padding/6;
                }

            .root-category
            {
                position: relative;
                display: inline-block;
                padding: 20px 0;
                padding-left:36px;

                @media @tablet
                {
                    padding: 15px 0;
                    padding-left: 36px;
                }

                @media @phablet
                {
                    padding: 13px 0;
                    padding-left: 36px;
                }

                @media @phone
                {
                    padding: 10px 0;
                    padding-left: 36px;
                }

                .info-icon
                {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    margin-top: -12px;

                    svg
                    {
                        width: 100%;
                        height: 100%;
                        stroke: @c_green;
                    }
                }

                .name
                {
                    display: inline-block;
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: rgb(167,177,184);
                }
            }
        }
    }



}
