.site-footer
{
    position: relative;
    text-align: center;

    .footer-top
    {
        padding: 40px @content_padding 90px @content_padding;
        background-color: @c_grey_light2_50;

        @media @tablet
        {
            padding: 0 @content_padding 90px;
        }

        @media @phablet
        {
            padding: 0 @content_padding 40px;
        }

		.site-logo
        {
            display: block;
            margin: 0 auto 0 0;
            padding: 25px 0;
            font-size: 0;

			a
            {
				display: inline-block;
                font-size: 2rem;
                height: 30px;

                img
                {
                    display: block;
                    width: auto;
                    height: 100%;
                }
			}
		}

        .motto
        {
            opacity: 0.7;
            line-height: 1.5em;
            color: #9FAAB3;
        }
    }


    .footer-nav
    {
        position: absolute;
        display: block;
        .translateY(-50%);
        left: 0;
        right: 0;
        font-size: 0;

        @media @phablet
        {
            position: relative;
            width: 100%;
            .translateY(0);
        }

        ul
        {
            display: inline-block;
            list-style: none;
            background-color: @c_white;
            .drop-shadow (0px, -13px, 50px, -10px, 0.13);


            @media @phablet
            {
                width: 100%;
            }


            li
            {
                display: inline-block;
                vertical-align: top;
                font-size: 1rem;
                padding: 15px;
                transition: padding @transition_speed;

                @media @tablet
                {
                    padding: 5px 5px;
                }

                a
                {
                    display: block;
                    color: @c_grey;
                    padding: 10px 20px;
                    border: 1px solid transparent;
                    border-radius: 2em;

                    &:hover
                    {
                        color: @c_green;
                        border: 1px solid @c_green;
                    }
                }

                ul
                {
                    display: none;
                }
            }
        }
    }

    .footer-bottom
    {
        padding: 90px @content_padding 50px;
        background: @c_green_gradient;

        @media @tablet
        {
            padding: 80px @content_padding 30px;
        }

        @media @phablet
        {
            padding: 40px @content_padding 30px;
        }

        .copy-rules
        {
            padding: 10px 0;

            .copyrights,
            .rules-nav
            {
                display: inline-block;
                vertical-align: top;
            }

            .copyrights
            {
                color: @c_blue_dark;

            }

            .rules-nav
            {
                ul
                {
                    list-style: none;
                    white-space: nowrap;

                    li
                    {
                        display: inline-block;

                        &:last-of-type
                        {
                            &:after
                            {
                                display: none;
                            }
                        }

                        &:after
                        {
                            content: " -";
                            display: inline-block;
                            white-space: pre;
                            color: @c_blue_dark;
                        }


                        a
                        {
                            color: @c_blue_dark;
                            text-decoration: underline;

                            &:hover
                            {
                                color: @c_white;
                            }
                        }
                    }
                }
            }
        }

        .social-nav
        {
            padding: 10px 0;

            ul
            {
                list-style: none;
                font-size: 0;
                white-space: nowrap;

                li
                {

                    display: inline-block;
                    padding: 0 5px 5px;

                    a
                    {
                        display: block;
                        overflow: hidden;
                        text-indent: -4321px;
                        white-space: nowrap;
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        opacity: 0.9;

						&:hover
						{
							opacity: 1;
						}
                    }

                    &.facebook a
                    {
                        background-image: url(../img/icons/social/facebook.svg);
                    }

                    &.twitter a
                    {
                        background-image: url(../img/icons/social/twitter.svg);
                    }
                }
            }
        }
    }
}