.ik_frame {
  box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
  padding: 30px 40px;
  max-width: 100%;
  text-align: center;
  margin: 40px auto;

  h3 {
    font-size: 2rem;
    padding-bottom: 0.5em;
    font-weight: 500;
  }

  p {
    margin-bottom: 1em;
  }

  .btn {
    font-size: 1.1em;
  }

}
