.tiles-grid
{
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
    
    .products-show-more
    {
        text-align: right;

        @media @phablet
        {
            padding: 0 8px;
        }
        
        span
        {
            display: inline-block;
            color: @c_green; 
            cursor: pointer;
            
            &:hover
            {                
                color: @c_green_dark; 
            }
                
            &.hide
            {
                display: none;
            }
        }
    }

    .grid-content
    {
        font-size: 0;
        max-width: none;
        width: 100%;
        padding: 0;
        margin-left: -@content_padding;
        width: calc(~"100% + "2*@content_padding);  

        @media @tablet
        {
            margin-left: -10px;
            width: calc(~"100% + "2*10px);
        }

        @media @phablet
        {
/*            margin: 0;
            width: 100%;*/
            padding-right: 0;
        }        

        @media @phone
        {
            /*width: 100%;*/
        }

        .grid-item
        {
            display: inline-block;
            vertical-align: top;
            width: 25%;
            /*min-width: 260px;*/
            padding: @content_padding;
            font-size: 1rem;
            text-align: left;
            
            @media @tablet
            {
                padding: 10px;
                width: 33.333%;
            }   

            @media @phablet
            {
                width: 50%;
            }

            @media @phone
            {
                padding: 8px;
            }

            @media @phone
            {
                min-width: 0;
            }
            
            &.fill
            {
                @media @tablet
                {
                    display: none;
                }
                @media @phablet
                {
                    display: inline-block;
                }
            }            

            .item-content
            {
                display: block;
                /*box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);*/
                box-shadow: 0px 1px 15px 0 rgba(0, 0, 0, 0.15);
                padding: 10px;
                transition: 0.3s;
                
                @media @tablet
                {
                    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
                }
                
                
                &:hover
                {
                    /*box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.3);*/
                    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.5);
                    
                
                    @media @tablet
                    {
                        /*box-shadow: 0px 1px 20px -3px rgba(0, 0, 0, 0.4);*/
                        box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.5);
                    }

                    .read-more
                    {
                        color: @c_green_dark; 
                        
                        &:after
                        {
                            right: 5px;
                        }                        
                    }
                }
                
                
                .title
                {
                    font-size: 14px;
                    line-height: 1.25em;
                    padding-bottom: 0.75em;
                    z-index: 2;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: normal;
                    color: @c_darkgrey;

                    @media @phone
                    {
                        font-size: 1.4rem;
                    }
                }

                .image
                {
                    position: relative;                    
                    height: 120px;
                    width: 100%;
                    margin-bottom: 1.5rem;
                    z-index: 1;
                    
                    @media @phone
                    {
                        height: 75px;
                    }

                    span
                    {
                        display: block;
                        font-size: 0;
                        height: 100%;
                        width: 75%;
                        margin: 0 auto;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .read-more
                {
                    padding-right: 45px;
                    color: @c_green;
                    .transition(~"all "@transition_speed~", font-size 1ms");
                    text-decoration: none;
                    
                    @media @phone
                    {
                        padding-right: 0;                        
                    }
                    
                    &:after
                    {
                        width: 35px;
                        background-color: rgb(210,214,220);
                    
                        @media @phone
                        {
                            display: none;                        
                        }
                    }
                }
            }
        }
    }
}
