/*
body.home
{
    .site-header
    {
        margin-bottom: 5px;
        box-shadow: 0 5px 5px -5px rgba(0,0,0,0.25);
    }
}
*/
body.menu-opened
{
    /*@media @phablet*/
    @media @tablet
    {
        overflow: hidden;
        padding-top: 60px;
    }
}

.site-header
{
	position: relative;
    height: 80px;
    margin-bottom: 0;
    /*box-shadow: none;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: @c_white;
    z-index: 100;

    @media @tablet
    {
        height: 60px;
    }
    
	&.mobile-active
	{
        /*@media @phablet*/
        @media @tablet
		{
            position: fixed;
            padding-top: 0;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

			.site-logo
			{
				display: block;
			}
			.navigation-top
			{
                /*position: absolute;*/
                height: auto;
                padding-top: 15px;
                padding-bottom: 15px;

                .main-nav
                {
                    position: absolute;
                    .flex-display();
                    width: 100%;
                    top: 60px;
                    padding: 0 0 25px;
                    left: 0;
                    bottom: 0;

                    ul
                    {
                        margin: auto;
                        width: 100%;
                        overflow: auto;
                        max-height: 100%;

                        li
                        {
                            display: table;
                            margin: 0 auto;
                            padding: 7px 0px;
                            text-align: center;
                        }
                    }
                }
			}
		}
	}

	.navigation-top
    {
        .flex-display();
        .align-items(center);
        height: 100%;
        width: 100%;
        padding: 0 45px;

        @media @tablet
        {
            padding: 0 25px;
        }

		.site-logo
        {
            display: block;
            margin: 0 auto 0 0;
            font-size: 0;

			a
            {
				display: inline-block;
                font-size: 2rem;
                height: 30px;

                @media @tablet
                {
                    height: 25px;
                }

                img
                {
                    display: block;
                    width: auto;
                    height: 100%;
                }
			}
		}

		.main-nav
		{
            display: block;
            margin: 0 0 0 auto;
            height: 100%;

            /*@media @phablet*/
            @media @tablet
            {
                height: auto;
                display: none;
            }

			> ul
			{
				list-style: none;
                white-space: nowrap;
                height: 100%;

                /*@media @phablet*/
                @media @tablet
                {
                    height: auto;
                }

				> li
				{
                    position:relative;
					.flex-display(inline-flex);
                    .align-items(center);
                    vertical-align: top;
                    font-size: 1.1rem;
                    height: 100%;
                    padding: 20px 0;
                    margin: 0 10px;
                    transition: padding @transition_speed, margin @transition_speed; 
                    
                    @media @desktop
                    {
                        margin: 0 2px;                        
                    }

                    @media @tablet
                    {
                        padding: 15px 0 16px;;
                        margin: 0 3px;
                        font-size: 0.85em;
                    }

                    /*@media @phablet*/
                    @media @tablet
                    {
                        display: block;
                        padding: 0;
                        height: auto;
                        font-size: 1.6em;
                    }

                    &:first-of-type
                    {
                        /*padding-left: 0;*/
                    }

                    &:last-of-type
                    {
                        margin-right: 0;
                    }

                    &.current-menu-item,
                    &.current-page-ancestor,
                    &.current-category-ancestor,
                    &.current-post-parent,
                    {
                        &:after
                        {
                            content: "";
                            display: block;
                            position:absolute;
                            height: 3px;
                            bottom: 0;
                            left: 10px;
                            right: 10px;
                            background-color: @c_grey_light2;
                            pointer-events: none;

                            /*@media @phablet*/
                            @media @tablet
                            {
                                display: none;
                            }
                        }
                            
                        
                        > a
                        {                            
                            color: rgb(62,70,80);
                        }
                    }

                    > a
					{
                        display: block;
						color: @c_grey;
						padding: 10px;
	                    /*margin-top: 20px;*/

                        @media @tablet
                        {
                            padding: 6px 10px;
                        }
                        
                        /*@media @phablet*/
                        @media @tablet
                        {
                            display: inline-block;
                        }

	                    a
	                    {
		                    margin-top: 0;
	                    }

						&:hover
						{
							color: @c_green;
						}
					}

					&.menu-item-has-children
					{
                        position: relative;
                        
                        &:hover
                        {                        
                            > .sub-menu
                            {
                                @media only screen and (min-width: 1024px)
                                {                        
                                display: block;
                                }                            
                            }
                        }
                        
                        &.clicked
                        {
                            @media @tablet
                            {
                                > a
                                {
                                    /*margin-top: 20px;
                                    margin-bottom: 20px;*/
                                    color: @c_green;
                                }                            
                                > .sub-menu
                                {
                                    display: block;
                                }                                
                            }
                        }

						.sub-menu
						{
							display: none;
							position: absolute;
                            top: 100%;
							width: auto;
							left: -35px + 10px;
							padding: 20px 0;
							background-color: @c_white; 
                            box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.1) inset,
                                        0 0 10px 0 rgba(0, 0, 0, 0.1);


                            @media @tablet
                            {
                                padding: 7px 0;
                                left: -18px + 10px;
                            }

                            /*@media @phablet*/
                            @media @tablet
                            {
                                background: none;
                                position: relative;
                                left: 0;
                                width: 100%;
                                box-shadow: none;
                            }  
                            
                            /*hide shadow */
                            &:before
                            {
                                content: "";
                                display: block;
                                position:absolute;
                                height: 10px;
                                width: 100%;
                                top: -10px;
                                left: 0;
                                background-color: @c_white;
                                pointer-events: none;
                                
                                /*@media @phablet*/
                                @media @tablet
                                {
                                    display: none;
                                }
                            }
                            
                            &.sub-menu-blog
                            {
                                /*display:block;*/
                                left: auto;
                                right: -35px + 10px;
                                padding: 0;
                                
                                /*@media @phablet*/
                                @media @tablet
                                {
                                    padding: 0;
                                    left: auto;
                                    right: -18px + 10px;
                                }                                
                                
                                .sub-menu-content
                                {
                                    .flex-display();
                                    
                                    .sub-menu-items
                                    {
                                        padding: 20px 0;
                                        
                                        @media @tablet
                                        {
                                            padding: 7px 0;
                                        }                                         
                                    }
                                    
                                    .menu-posts-container
                                    {
                                        padding: 20px 36px 30px;
                                        border-left: 1px solid @c_grey_light2;
                                        
                                        @media @tablet
                                        {
                                            padding: 7px 12px;
                                        } 
                                        
                                        /*@media @phablet*/
                                        @media @tablet
                                        {
                                            display: none;
                                        }
                                                                                
                                        
                                        .menu-posts-title
                                        {
                                            text-align: left;
                                            color: @c_grey;
                                            padding: 10px 0;
                                            display: block;
                                            line-height: 1;
                                            
                                            @media @tablet
                                            {
                                                padding: 15px 0;
                                            }
                                        }
                                        
                                        
                                        .menu-posts
                                        {                                            
                                            .flex-display();
                                            list-style: none;
                                            margin-top: 15px;
                                            
                                            @media @tablet
                                            {
                                                padding: 6px 0;
                                                margin-top: 0;
                                            }
                                            
                                            .post-item
                                            {
                                                width: 200px;
                                                
                                                &:first-of-type
                                                {
                                                   margin-right: 38px; 
                                                   
                                                    @media @tablet
                                                    {
                                                        margin-right: 24px;
                                                    }
                                                }
                                                
                                                a
                                                {
                                                    display:block;                                                          
                                                    white-space: normal;
                                                    
                                                    .item-content
                                                    {                                                        
                                                        .img
                                                        {
                                                            width: 100%;

                                                            img
                                                            {
                                                                display: block;
                                                                width: 100%;
                                                                height: auto;
                                                            }
                                                        }

                                                        .content
                                                        {
                                                            font-size: 1rem;
                                                            .title,
                                                            .date
                                                            {
                                                                display: block;
                                                                width: 100%;
                                                            }

                                                            .title
                                                            {
                                                                color: rgb(61,70,81);
                                                                font-weight: 500;  
                                                                margin-top: 20px;
                                                                font-size: 1em;
                                                   
                                                                @media @tablet
                                                                {
                                                                    margin-right: 16px;
                                                                }
                                                            }

                                                            .date
                                                            {
                                                                color: @c_grey;
                                                                font-size: 0.875em;
                                                                margin-top: 12px;
                                                   
                                                                @media @tablet
                                                                {
                                                                    margin-right: 8px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
							.menu-item
							{      
                                position: relative;
                                display: block;
                                transition: @transition_speed;
                                padding: 5px 0;

                                /*@media @phablet*/
                                @media @tablet
                                {
                                    display: block;
                                }

                                &:last-of-type
                                {
                                    &:after
                                    {
                                        display: none;
                                    }
                                }  
                                
                                &.current-menu-item,
                                &.current-page-ancestor,
                                {
                                    > a
                                    {
                                        color: rgb(62,70,80);
                                    }
                                }
                                
                                
								> a
								{
                                    display: block;
                                    padding: 5px 35px;
                                    color: @c_grey;; 
                                    line-height: 1;
                                    
                                    &:hover
                                    {
                                        color: @c_green_stronglight;
                                    }
                                    
                                    @media @tablet
                                    {
                                        padding: 10px 18px;
                                    }

                                    /*@media @phablet*/
                                    @media @tablet
                                    {
                                        padding: 4px 18px;
                                        color: @c_lightgrey;
                                    }
								}
							}
						} 
					}
				
                    &.search-btn
                    {
                        margin: 0;
                        
                        /*@media @phablet*/
                        @media @tablet
                        {
                            margin: 0 auto;
                        }                        
                        
                        a
                        {
                            padding: 5px 10px;
                        
                            @media @tablet
                            {
                                padding: 0 20px;
                            }
                            
                            /*@media @phablet*/
                            @media @tablet
                            {
                                padding: 5px 20px;
                            }
                            
                            &:after
                            {
                                display: inline-block;  
                                content: "";
                                background-image: url(../icons/green/search.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center center;
                                width: 24px;
                                height: 24px;
                            }
                            
                            
                            span
                            {
                                display: none;
                            }
                        }
                    }
                }
			}
		}
	}

	.btn-mobile-menu
	{
		position: relative;
		display: none;
		width: 35px;
		height: 2*12px + 6px;
		margin: 0;
		padding: 5px;
		/*right: @content_padding;*/
		font-size: 0;
		cursor: pointer;
		transition: background 0.3s;
		pointer-events: auto;
		z-index: 2;

        /*@media @phablet*/
        @media @tablet
		{
			display: block;
		}

		span
		{
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 6px;
			margin-top: -3px;
			background-color: @c_green;
			/*transition: background 0.3s;*/
			transition-duration: 0.3s, 0.3s;
			transition-property: background, box-shadow;
			transition-delay: 0, 0.3s;
			box-shadow: 1px 1px 0 0 rgba(255,255,255,1);
			&:before,
			&:after
			{
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: @c_green;
				content: "";
				transition-delay: 0.3s, 0s;
				transition-duration: 0.3s, 0.3s;
				box-shadow: 1px 1px 0 0 rgba(255,255,255,1);
			}

			&:before
			{
				top: -12px;
				transition-property: top, transform, box-shadow;
			}

			&:after
			{
				bottom: -12px;
				transition-property: bottom, transform, box-shadow;
			}
		}

		&.active
		{
			span
			{
				background-color: transparent;
				box-shadow: none;
				&:before,
				&:after
				{
					transition-delay: 0s, 0.3s, 0.3s;
					box-shadow: none;
				}

				&:before
				{
					top: 0;
					.rotate(45deg);
				}

				&:after
				{
					bottom: 0;
					.rotate(-45deg);
				}
			}
		}
	}
}