.page-head + .megabox
{
    background: linear-gradient(to bottom, rgb(244,246,248) 0%, rgb(244,246,248) 25%,rgba(0,0,0,0) 25.1%);
}

.megabox
{
    .content
    {
        max-width:  @content_width;
        margin: 0 auto;
        padding: 0;
        padding-left: @narrow_content_padding/2;

        @media @tablet
        {
            padding-left: @narrow_content_padding/3;
        }

        @media @phablet
        {
            padding: 0 @narrow_content_padding/3;
        }

        @media @phone
        {
            padding: 0;
        }

        .posts-container
        {
            position: relative;
            width: 100%;

            .nav-panel
            {
                .flex-display();
                .align-items(center);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 49%;
                /*padding: 0 5%;*/
                padding: 0 3%;
                font-size: 0;
                z-index: 2;

                @media @tablet
                {
                    width: 53%;
                }

                @media @phablet
                {
                    top: 380px;
                    bottom: auto;
                    .translateY(-100%);
                    width: 100%;
                }

                @media @phone
                {
                    top: 350px;
                }

                .dots
                {
                    .flex-grow(1);
                    height: 100%;
                    .dot
                    {
                        padding: 4px 0;
                        display: inline-block;
                        margin: 3px 8px 3px 0;
                        cursor: pointer;

                        &.active
                        {
                            &:hover
                            {
                                span
                                {
                                    opacity: 0.8;
                                }
                            }
                            span
                            {
                                background-color: @c_blue_dark;
                            }
                        }

                        &:hover
                        {
                            span
                            {
                                opacity: 1;
                            }
                        }

                        span
                        {
                            display: block;
                            height: 4px;
                            width: 48px;
                            background-color: @c_white;
                            opacity: 0.8;
                            border-radius: 8px;
                            transition: @transition_speed;
                        }

                        &:last-of-type
                        {
                            margin-right: 0;
                        }
                    }
                }

                .nav
                {
                    /*width: 176px;*/
                    width: 34%;

                    > div
                    {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        padding-bottom: 50%;
                        background-color: transparent;
                        transition: @transition_speed;
                        cursor: pointer;

                        @media @phablet
                        {
                            padding-bottom: 30%;
                        }

                        @media @phone
                        {
                            padding-bottom: 50%;
                        }

                        &:hover
                        {
                            background-color: rgba(255,255,255,0.5);

                            > span
                            {
                                svg
                                {
                                    stroke: @c_blue_dark;
                                }
                            }
                        }

                        > span
                        {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            .translate(-50%, -50%);

                            svg
                            {
                                stroke: @c_white;
                                transition: @transition_speed;
                            }
                        }
                    }
                }
            }

            .posts
            {
                position: relative;
                padding-bottom: 44.4%;
                min-height: 450px;
                width: 100%;

                @media @phablet
                {
                    padding: 0
                }

                .featured-posts-container
                {
                    position:absolute;
                    width: 49%;
                    height: 96%;
                    left: 0;
                    background: @c_green_gradient;
                    bottom: 0;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
                    z-index: 1;

                    @media @tablet
                    {
                        width: 53%;
                    }

                    @media @phablet
                    {
                        position: relative;
                        height: 380px;
                        width: 100%;
                    }

                    @media @phone
                    {
                        height: 350px;
                    }

                    .item.featured-post
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        /*padding: 13.5% 10%;*/
                        padding: 5.5% 10% 5.5% 5%;
                        opacity: 0;
                        .scale(0.15);
                        transition: 0.5s ease-out;
                        pointer-events: none;

                        &.active
                        {
                            opacity: 1;
                            .scale(1);
                            pointer-events: auto;
                        }

                        .item-content
                        {
                            font-size: 1rem;

                            .terms-list
                            {
                                padding-bottom: 1.5em;
                            }

                            .title
                            {
                                padding-bottom: 0.75em;
                                font-size: 2.5em;
                                line-height: 1.3;
                                color: #07756C;

                                @media @tablet
                                {
                                    font-size: 1.7em;
                                    line-height: 1.1;
                                }

                                a
                                {
                                    color: @c_blue_dark;

                                    &:hover
                                    {
                                        color: lighten(@c_blue_dark, 2.5%);
                                    }
                                }
                            }

                            .excerpt
                            {
                                padding-bottom: 1.75em;
                                font-size: 1.14em;
                                letter-spacing: 0.02em;
                                line-height: 1.5;
                                color:@c_white;


                            }

                            .read-more
                            {
                                color: @c_blue_dark;

                                &:hover
                                {
                                    color: lighten(@c_blue_dark, 2.5%);
                                }

                                &:after
                                {
                                    background-color: @c_blue_dark;
                                    transition: @transition_speed;
                                }
                            }
                        }
                    }
                }

                .grid-posts-container
                {
                    position:absolute;
                    width: 53%;
                    height: 96%;
                    right: 0;
                    top: 0;
                    font-size: 0;
                    background-color: @c_white;
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
                    z-index: 3;

                    @media @tablet
                    {
                        width: 50%;
                    }
                    @media @phablet
                    {
                        position: relative;
                        width: 95%;
                        margin: 0 auto;
                    }

                    .item
                    {
                        position: absolute;
                        height: 50%;
                        width: 50%;

                        @media @phablet
                        {
                            position: static;
                            display: inline-block;
                            vertical-align: top;
                            width: 33.33%;
                            height: 100%;
                            left: auto;
                            top: auto;
                        }

                        &.item-1,
                        &.item-3
                        {
                            left: 0;
                        }

                        &.item-2,
                        &.item-4
                        {
                            left: 50%;
                        }

                        &.item-1,
                        &.item-2
                        {
                            top: 0;
                        }

                        &.item-3,
                        &.item-4
                        {
                            top: 50%;
                        }

                        &:hover
                        {
                            .item-content
                            {
                                &:after
                                {
                                    opacity: 1;
                                }
                                &:before
                                {
                                    opacity: 0;
                                }
                                img
                                {
                                    .transform(~"translate(-50%,-50%) scale(1.1)");
                                }
                            }
                        }

                        .item-content
                        {
                            position: relative;
                            height: 100%;
                            font-size: 1rem;
                            overflow: hidden;

                            &:before,
                            &:after
                            {
                                position: absolute;
                                display: block;
                                content: "";
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 100%;

                                transition: @transition_speed;
                                z-index: 1;
                            }

                            &:before
                            {
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
                            }

                            &:after
                            {
                                opacity: 0;
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
                            }

                            .link
                            {
                                position: absolute;
                                .flex-display();
                                .align-items(flex-end);
                                left: 0;
                                top: 0;
                                height: 100%;
                                padding: 10% 9% 12%;
                                z-index: 2;

                                > span
                                {
                                    position: relative;
                                    display: block;
                                    padding-top: 1.5em;
                                    color: @c_white;
                                    font-size: 0.9em;

                                    > *
                                    {
                                        font-weight: normal;
                                        padding: 0;
                                    }

                                    h3
                                    {
                                        color: @c_white;
                                        font-weight: 500;
                                        line-height: 1.45em;
                                    }

                                    &:before
                                    {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        left: 0;
                                        top: 0;
                                        height: 4px;
                                        width: 60px;
                                        background-color: @c_white;
                                        opacity: 0.8;
                                        border-radius: 4px;
                                    }
                                }
                            }

                            img
                            {
                                position: absolute;
                                display: block;
                                top: 50%;
                                left: 50%;
                                .translate(-50%, -50%);
                                height: 101%;
                                width: auto;
                                transition: @transition_speed;
                                z-index: 0;

                                @media @phablet
                                {
                                    /*min-width: 100%;*/
                                    /*min-height: 100%;*/
                                    /*width: 101%;*/
                                    height: 101%;
                                    width: auto;
                                }
                            }
                        }
                    }

                    &.layout_1t_2
                    {
                        .item-1
                        {
                            height: 100%;

                            .item-content .link
                            {
                                padding-bottom: 30%;
                            }

                            img
                            {
                                @media @phablet
                                {
                                    width: 101%;
                                    height: auto;
                                }
                            }
                        }

                        .item-2
                        {
                            left: 50%;
                            top: 0;
                        }

                        .item-3
                        {
                            left: 50%;
                            top: 50%;
                        }
                    }

                    &.layout_2_1t
                    {
                        .item-2
                        {
                            left: 0;
                            top: 50%;
                        }

                        .item-3
                        {
                            left: 50%;
                            top: 0;
                            height: 100%;

                            .item-content .link
                            {
                                padding-bottom: 30%;
                            }

                            img
                            {
                                @media @phablet
                                {
                                    width: 101%;
                                    height: auto;
                                }
                            }
                        }
                    }

                    &.layout_1w_2
                    {
                        .item-1
                        {
                            width: 100%;

                            .item-content .link
                            {
                                padding-bottom: 5%;
                            }
                        }

                        .item-2
                        {
                            left: 0;
                            top: 50%;
                        }

                        .item-3
                        {
                            left: 50%;
                            top: 50%;
                        }
                    }

                    &.layout_2_1w
                    {
                        .item-3
                        {
                            left: 0;
                            top: 50%;
                            width: 100%;

                            .item-content .link
                            {
                                padding-bottom: 5%;
                            }
                        }
                    }

                    &.layout_1t_2,
                    &.layout_2_1t,
                    &.layout_1w_2,
                    &.layout_2_1w,
                    &.layout_4
                    {

                        .item
                        {
                            @media @phablet
                            {
                                position: static;
                                display: inline-block;
                                vertical-align: top;
                                width: 33.33%;
                                height: 175px;
                                left: auto;
                                top: auto;
                            }

                            @media @phone
                            {
                                height: 150px;
                            }

                            .item-content .link
                            {
                                @media @phablet
                                {
                                    padding-bottom: 10%;
                                }

                                > span
                                {
                                    @media @phablet
                                    {
                                        font-size: 0.8em;
                                    }
                                }
                            }
                        }
                    }
                    &.layout_4
                    {
                        .item
                        {

                            &:nth-of-type(4)
                            {
                                @media @phablet
                                {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .see-all
            {
                position: absolute;
                bottom: -4%;
                left: 47%;
                height: 80px;
                width: 80px;
                overflow: hidden;
                box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.2);
                transition: @transition_speed;
                z-index: 3;

                @media @tablet
                {
                    left: 50%;
                    height: 60px;
                    width: 60px;
                }

                @media @phablet
                {
                    bottom: 0;
                    left: 50%;
                    .translateX(-50%);
                }

                &.active
                {
                    width: 80px + 160px;

                    @media @tablet
                    {
                        width: 60px + 140px;
                    }

                    .see-all-btn
                    {
                        span
                        {
                            .rotate(45deg);
                        }
                    }
                }

                .see-all-btn
                {
                    position: relative;
                    height: 100%;
                    width: 80px;
                    background-color: @c_white;
                    cursor: pointer;
                    z-index: 2;

                    @media @tablet
                    {
                        width: 60px;
                    }

                    span
                    {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 16px;
                        height: 16px;
                        margin: -8px 0 0 -8px;
                        transition: @transition_speed;

                        &:before,
                        &:after
                        {
                            position: absolute;
                            display: block;
                            content: "";
                            background-color: @c_green;
                            top: 0;
                            left: 0;
                            width: 2px;
                            height: 2px;
                        }
                        &:before
                        {
                            left: 50%;
                            height: 100%;
                            margin-left: -1px;
                        }

                        &:after
                        {
                            top: 50%;
                            width: 100%;
                            margin-top: -1px;
                        }
                    }
                }

                .see-all-link
                {
                    position: absolute;
                    .flex-display();
                    .align-items(center);
                    .justify-content(center);
                    width: 160px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    padding: 10px;
                    background-color: @c_white;
                    text-align: center;
                    z-index: 1;

                    @media @tablet
                    {
                        width: 140px;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}