.site-content .page-main.with-megabox
{
    .page-head
    {
        .content
        {
            max-width: @content_width;
            padding-left: @narrow_content_padding/2;

            @media @tablet
            {
                padding-left: @narrow_content_padding/3;
            }

            @media @phablet
            {
                padding-left: @narrow_content_padding/3;
            }

            @media @phone
            {
                padding-left: @narrow_content_padding/6;
            }

            .title
            {
                width: 50%;

                @media @phablet
                {
                    width: 75%;
                }

                @media @phone
                {
                    width: 100%;
                }
            }

            .description
            {
                width: 55%;

                @media @phablet
                {
                    width: 80%;
                }

                @media @phone
                {
                    width: 100%;
                }
            }
        }
    }
}

.site-content .page-main.product
{
    .page-head
    {
        .content
        {
            padding-left: @narrow_content_padding/2;

            @media @tablet
            {
                padding-left: @narrow_content_padding/2;
            }

            @media @phablet
            {
                padding-left: @narrow_content_padding/3;
            }

            @media @phone
            {
                padding-left: @narrow_content_padding/6;
            }
        }
    }
}



.page-head
{
    color: @c_darkgrey;
    background-color: rgb(244,246,248);
    padding: 0;

    .content
    {
        position: relative;
        width: 100%;
        max-width: @content_width;
        margin: 0 auto;
        padding: 4% @narrow_content_padding;
        text-align: left;
        line-height: 1.3;

        @media @tablet
        {
            padding: 4% @narrow_content_padding/2;
        }

        @media @phablet
        {
            padding: 6% @narrow_content_padding/3 8%;
        }

        @media @phone
        {
            padding: 6% @narrow_content_padding/6 10%;
        }

        .root-category
        {
            position: relative;
            display: inline-block;
            padding: 0 24px 0 36px;
            margin-bottom: 3em;

            &:after
            {
                position: absolute;
                display: block;
                content: "";
                left: 0;
                bottom: -1.5em;
                height: 4px;
                width: 100%;
                max-width: 200px;
                border-radius: 4px;
                background-color: @c_grey_light2;
            }

            .info-icon
            {
                position: absolute;
                top: 50%;
                left: 0;
                width: 24px;
                height: 24px;
                margin-top: -12px;

                svg
                {
                    width: 100%;
                    height: 100%;
                    stroke: @c_green;
                }
            }

            .name
            {
                display: inline-block;
                font-size: 1rem;
                text-transform: uppercase;
                color: #9FAAB3;
            }
        }

        .title
        {
            width: 65%;
            font-size: 2.3rem;
            padding-bottom: 0.5em;
            font-weight: 500;


            @media @tablet
            {
                width: 90%;
                font-size: 2.25rem;
            }

            @media @phone
            {
                width: 100%;
                font-size: 2rem;
            }
        }
        
        .terms-list
        {
            padding-bottom: 0;
            display: inline-block;            
            margin: 0 0 10px 0;
        }        

        .description
        {
            width: 70%;
            line-height: 1.7em;
            color: @c_grey;

            @media @tablet
            {
                width: 90%;
                font-size: 1.15rem;
            }

            @media @phone
            {
                width: 100%;
            }

            p
            {
                padding: 0;
            }
        }
        
        .word-count
        {
            .flex-display();
            .align-items(center);
            color: currentColor;
            margin: 0 14px 10px 0;
                
            .watch-icon
            {
                width: 12px;
                height: 19px;
                margin-right: 10px;
            }
            
            > div
            {
                white-space: nowrap;
            }
        }

        .scarcity
        {
            .flex-display();
            .align-items(center);
            margin-top: 2px;
            margin: 0 14px 10px 0;
            color: currentColor;
            font-weight: 500;
            padding: 0;
            line-height: 1.3;

            .date-icon
            {
                width: 13px;
                height: 13px;
                min-width: 13px;
                min-height: 13px;
                margin-right: 10px;
                margin-top: -1px;
            }            
        }

    }
}