.page-navbar
{
    position: relative;
    background-color: @c_grey;
    font-size: 0;
    line-height: 1;
    z-index: 95;

    .content
    {
        padding: 0 23px;

        @media @tablet
        {
            padding: 0 7px;
        }

        ul
        {
            list-style:none;
            position:relative;

            .menu-item
            {
                position: relative;

                &.menu-item-has-children
                {
                    &:hover
                    {
                        background-color: rgba(0,0,0,0.2);
                    }
                }

                &.current-menu-item,
                &.current-page-ancestor,
                {
                    > a
                    {
                        color: @c_green_stronglight;
                    }
                }

                &.clicked
                {
                    > ul.sub-menu
                    {
                        display: block;
                    }

                    > a
                    {
                        color: @c_green_stronglight;
                    }
                }

                a
                {
                    display: block;
                    color: @c_white;
                }
            }

            &.menu
            {
                > .menu-item
                {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 1rem;
                    transition: @transition_speed;

                    &:first-of-type
                    {
                    }

                    &:last-of-type
                    {
                        &:after
                        {
                            display: none;
                        }
                    }

                    &.menu-item-has-children
                    {
                        &:hover
                        {
                            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset

                        }
                    }


                    &:after
                    {
                        position: absolute;
                        content: "";
                        display: block;
                        right: -3px;
                        top: 50%;
                        margin-top: -3px;
                        width: 6px;
                        height: 6px;
                        background-color: @c_white;
                        border-radius: 50%;
                        z-index: 15;
                    }

                    a
                    {
                        padding: 19px 22px;

                        @media @tablet
                        {
                            padding: 14px 18px;
                        }
                    }

                    > .sub-menu
                    {
                        left :0;
                        top: 100%;
                    }
                }
            }

            &.sub-menu
            {
                display: none;
                position: absolute;
                left: 100%;
                top: 0;
                width: auto;
                min-width: 100%;
                background-color: @c_grey;
                /*box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);*/
                /*1px 0px 5px -3px rgba(0, 0, 0, 0.2) inset, 1px 3px 3px 0px rgba(0, 0, 0, 0.2)*/
                box-shadow: 1px 6px 6px -5px rgba(0, 0, 0, 0.2) inset, 6px 1px 6px -5px rgba(0, 0, 0, 0.2) inset;

                @media @phablet
                {
                    display: block;
                    position: relative;
                }

                .menu-item
                {
                    border-bottom: 1px solid rgba(255,255,255,0.5);

                    &:last-of-type
                    {
                        border-bottom: 0;
                    }

                    &.menu-item-has-children
                    {
                        &:hover
                        {
                            > a
                            {
                                span
                                {
                                    &:after
                                    {
                                        border-color: transparent transparent transparent @c_green;
                                    }
                                }
                            }
                        }

                        > a
                        {
                            padding-right: 11px;

                            > span
                            {
                                position: relative;
                                display: inline-block;
                                padding-right: 18px;

                                &:after
                                {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                    right: 0;
                                    top: 50%;
                                    margin-top: -4px;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 4px 0 4px 8px;
                                    border-color: transparent transparent transparent @c_white;
                                }
                            }
                        }
                    }

                    a
                    {
                        padding: 10px 22px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}