.posts-pagination
{
    position: relative;
	font-size: 0;
	padding: 50px 0 30px;
	list-style-type: none;

    @media @tablet
    {
        padding: 30px 0 20px;
    }

    &:before
    {
        position: absolute;
        display: block;
        content: "";
        top: 20px;
        width: 100%;
        height: 1px;
        background-color: rgb(235,238,242);

        @media @tablet
        {
            top: 15px;
        }
    }

    ul
    {
        .flex-display();

        li
        {
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
            text-align: center;

            > *
            {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 1.5rem;
                text-decoration: none;
                color: rgb(182,191,196);

                @media @tablet
                {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 1.2rem;
                }

                @media @phablet
                {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 1.15rem;
                }


            }

            &.prev,
            &.next
            {
                position: relative;

                &.disabled
                {
                    display: none;
                    color: transparent;
                    visibility: hidden;
                    pointer-events: none;
                }

                &:after
                {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 50%;
                    margin-top: -1px;
                    height: 2px;
                    width: 50px;
                    background-color: rgb(182,191,196);
                    transition: @transition_speed;
                }

                > *
                {
                    width: auto;
                    font-size: 1rem;
                    background: transparent;
                    color: @c_green;

                    &:hover
                    {
                        background: transparent;
                        color: @c_darkgrey;
                    }

                    &:after
                    {
                        display: none;
                    }
                }
            }

            &.prev
            {
                margin: 0 auto 0 0;
                padding-left: 70px;

                &:after
                {
                    left: 5px;
                }

                &:hover
                {
                    &:after
                    {
                        left: 0;
                    }
                }
            }

            &.next
            {
                margin: 0 0 0 auto;
                padding-right: 70px;

                &:after
                {
                    right: 5px;
                }

                &:hover
                {
                    &:after
                    {
                        right: 0;
                    }
                }
            }

            &.page
            {
                &.active
                {
                    > *
                    {
                        background: @c_green_gradient_light;
                        color: @c_white;

                        &:hover
                        {
                            background: @c_green_gradient_light;
                        }

                        &:after
                        {
                            display: none;
                        }
                    }
                }

                > *
                {
                    border-radius: 7px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover
                    {
                        color: rgb(255,255,255);

                        &:after
                        {
                            opacity: 1;
                        }
                    }

                    &:after
                    {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                        background: @c_green_gradient_light;
                        transition: @transition_speed;
                        opacity: 0;
                        z-index: 1;
                    }

                    > span
                    {
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
    }
}