.post-list
{
    width: 100%;
    text-align: center;
    .image
    {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    }
    &.col-2,
    &.col-3
    {
        .posts-list-content
        {
            max-width: none;
            width: 100%;
            padding: 0;
            margin-left: -@content_padding;
            width: calc(~"100% + "2*@content_padding);

            @media @tablet
            {
                margin-left: -10px;
                width: calc(~"100% + "2*10px);
            }

            @media @phablet
            {
                margin: 0;
                width: 100%;
            }

            .post-item
            {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                min-width: 260px;
                padding-left: @content_padding;
                padding-right: @content_padding;

                &:nth-of-type(odd)
                {
                    padding-right: 12px;
                }

                &:nth-of-type(even)
                {
                    padding-left: 12px;
                }

                @media @tablet
                {
                    padding-left: 10px;
                    padding-right: 10px;

                    &:nth-of-type(odd)
                    {
                        padding-right: 10px;
                    }

                    &:nth-of-type(even)
                    {
                        padding-left: 10px;
                    }
                }

                @media @phablet
                {
                    width: 75%;
                    padding-left: 0;
                    padding-right: 0;
                    min-width: 340px;

                    &:nth-of-type(odd)
                    {
                        padding-right: 0;
                    }

                    &:nth-of-type(even)
                    {
                        padding-left: 0;
                    }
                }

                @media @phone
                {
                    width: 100%;
                    min-width: 0;
                }
                
                .item-content .title
                {
                    padding-bottom: 0.5em;
                }
            }
        }
    }
    
    &.col-2
    {
        .posts-list-content
        {
            .post-item
            {
                width: 50%;
                min-width: 260px;

                @media @phablet
                {
                    width: 75%;
                    padding-left: 0;
                    padding-right: 0;
                    min-width: 340px;

                    &:nth-of-type(odd)
                    {
                        padding-right: 0;
                    }

                    &:nth-of-type(even)
                    {
                        padding-left: 0;
                    }
                }
            }
        }
    }
  
    &.col-3
    {
        .posts-list-content
        {
            .post-item
            {
                width: 33.333%;
                min-width: 310px;

                @media @phablet
                {
                    min-width: 340px;
                }
                
                .item-content .title
                {
                    font-size: 1.7rem;
                }
            }
        }
    }
    
    .posts-list-content
    {
        width: 70%;
        padding-right: 20px;
        font-size: 0;

        @media @phablet
        {
            width: 80%;
            padding-right: 0;
            margin: 0 auto;
        }

        @media @phone
        {
            width: 100%;
        }

        .post-item
        {
            font-size: 1rem;
            padding-bottom: 7rem;
            text-align: left;

            @media @tablet
            {
                padding-bottom: 5rem;
            }

            &:last-of-type
            {
                padding-bottom: 3rem;

                @media @tablet
                {
                    padding-bottom: 3rem;
                }
            }

            .item-content
            {
                .item-head
                {
                    .flex-display();
                    .align-items(center);
                    
                    position: relative;
                    padding: 0 0 16px;
                    margin-bottom: 20px; 
                    
                    &:after
                    {
                        position: absolute;
                        display: block;
                        content: "";
                        left: 0;
                        bottom: 0;
                        height: 4px;
                        width: 100%;
                        max-width: 200px;
                        border-radius: 4px;
                        background-color: @c_grey_light2;
                    }
                                    
                    .date
                    {
                        position: relative;
                        padding: 0 0 0 35px;
                        color: @c_grey;
                        text-transform: uppercase;

                        .date-icon
                        {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 50%;
                            left: 0;
                            margin-top: -12px;

                            svg
                            {
                                max-width: 100%;
                                max-height: 100%;
                                stroke: @c_green;
                            }
                        }
                    }
                    
                    .author-block
                    {
                        margin: 0 0 0 1em;
                        border-left: 1px solid @c_grey;
                        padding-left: 1em;   
                        
                        .block-content
                        {
                            .avatar
                            {
                                margin: 0 0.75em 0 0;
                                width: 24px;
                                height: 24px;                              
                            }
                            
                            .info
                            {
                                .name
                                {
                                    font-size: 1em;
                                }
                                
                                small
                                {
                                    display: none;
                                }
                            }
                        }
                    }
                    
                }

                .title
                {
                    font-size: 2.3rem;
                    line-height: 1.25em;
                    z-index: 2;

                    @media @phone
                    {
                        font-size: 1.4rem;
                    }

                    a
                    {
                        color: @c_darkgrey;
                    }
                }
                
                .terms-list
                {
                    padding-top: 1em;

                    &:empty
                    {
                        display: none;
                    }
                }
                
                .post-info.singleline
                {
                    .terms-list
                    {
                        padding-bottom: 0;
                    }
                }

                .image
                {
                    position: relative;
                    margin-bottom: 1.5rem;
                    z-index: 1;

                    a
                    {
                        display: block;
                        width: 100%;
                        font-size: 0;
                    }

                    img
                    {
                        width: 100%;
                        height: auto;
                    }

                    &.outdated
                    {
                        img
                        {
                            opacity: 0.3;
                        }
                    }
                }

                .scarcity
                {
                    /*
                    background-image: url(../icons/grey/calendar.svg);
                    background-repeat: no-repeat;
                    background-size: 16px auto;
                    background-position: left center;
                    padding-left: 20px;
                    margin-bottom: 0.5em;
                    margin-bottom: 14px;
                    */
                    font-weight: 500;
                }

                .excerpt
                {
                    font-size: 1rem;
                    padding-bottom: 1.5em;
                    line-height: 1.7rem;
                    color: @c_grey;

                    a
                    {
                        color: @c_grey;
                    }
                }

                .author
                {
                    display: inline-block;
                }

                .word-count
                {
                    display: inline-block;
                    & > div
                    {
                        display: inline-block;

                        &.svg-icon
                        {
                            margin: 0 10px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .read-more
                {
                    &:after
                    {
                        background-color: rgb(210,214,220);
                    }
                }
            }
        }
    }
}

.posts-blocks-list
{
    .post-items-block
    {
        .block-title
        {
            .flex-display();
            .align-items(center);

            position: relative;
            padding: 0 0 16px;
            margin-bottom: 20px; 
            font-size: 2rem;

            &:after
            {
                position: absolute;
                display: block;
                content: "";
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                max-width: 200px;
                border-radius: 4px;
                background-color: @c_grey_light2;
            }  
            
            a > .title
            {
                color: inherit;                
            }  
            
            .title
            {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                margin: 0;
                padding: 0;                
            }         
        }
        
        .block-content
        {
            .post-list
            {
                text-align: left;
            }
        }
    }
}
