.search-block
{
    padding-bottom: 2em;
}


.search-bar
{
    position: relative;
    width: 100%;

    form
    {
        input.search-input
        {
            display: block;
            width: 100%;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
            border: 0;
            border-radius: 3em;
            padding: 1.25em 1.75em;
            line-height: 1.3;
            font-size: 1rem;
            font-family: inherit;
            color: @c_darkgrey;

            @media @tablet
            {
                padding: 1em 1.25em
            }

            @media @phablet
            {
                font-size: 16px;
            }
        }

        .submit-btn
        {
            position: absolute;
            overflow: hidden;
            height: 100%;
            top: 0;
            right: 0;
            width: 3.5em;
            border-radius: 50%;
            

            input.search-submit
            {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border: 0;
                padding: 0;
                background: rgba(0,0,0,0.001);
                cursor: pointer;
                
                &:hover
                {
                    background: rgba(0,0,0,0.001);                    
                }
            }

            svg
            {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 50%;
                max-height: 50%;
                .translate(-50%, -50%);
                stroke: @c_green;
                pointer-events: none;
            }
        }
    }

    &.spotlight-search
    {
        position: fixed;  
        padding: 1em;
        top: 40%;
        width: 100%;
        max-width: 980px;
        left: 0;
        right: 0;
        margin: 0 auto;        
        font-size: 1.4rem;
        z-index: 115;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        
        &.active
        {
            opacity: 1;
            pointer-events: auto;
            
        }

        form
        {
            position: relative;
            
            input.search-input
            {
                display: block;
                width: 100%;
                box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.5); 
            }
        }
    }
    
}