.searchbox
{
    position: relative;
    width: 80%;

    @media @tablet
    {
        width: 100%;
    }

    .bg
    {
        position: absolute;
        left: 50%;
        max-height: 60vh;
        top: -80px;
        width: 90%;

        @media @tablet
        {

            width: 80%;
            left: 40%;
        }

        @media @phablet
        {
            top: 0;
        }

        @media @phone
        {
            img
            {
                opacity: .5;
            }
        }

        img
        {
            width: 100%;
        }
    }
    h1
    {
        font-size: 1em;
        text-transform: uppercase;
        color: @c_lightgrey;
        font-weight: normal;
        padding-top: 10em;
        padding-bottom: 3em;

        @media @tablet
        {
            padding-top: 5em;
        }

        &:after
        {
            height: 3px;
            width: 10%;
            border-radius: 2px;
            content: "";
            margin-top: 14px;
            display: block;
            background: @c_grey_light2;
        }
    }


    [data-level]
    {
        display: inline-block;
        margin-bottom: 1em;
        position: relative;
    }

    [data-level='2'],
    [data-level='3'],
    [data-level='4']
    {

        display: none;
    }

    .topped
    {
        z-index: 9;
    }


    .choice
    {
        h2,
        .text
        {
            font-size: 2.7em;
            font-weight: 500;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.6em;
            padding: 0;

            @media @tablet
            {
                font-size: 1.8em;
            }
        }
        .value
        {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            line-height: 1.6em;
            font-size: 2.3em;
            font-weight: 500;
            padding: 0 2em 0 1.8em;
            margin: 0 0.5em;
            color: @c_green;
            border-radius: 1em;
            .drop-shadow(0px, 1px, 30px, -3px, 0.15);
            cursor: pointer;
            background: @c_white;
            @media @tablet
            {
                font-size: 1.73em;
            }

            &:before
            {
                position: absolute;
                width: 0.8em;
                height: 0.8em;
                right: 0.5em;
                top: 0.4em;
                content: "";
                background-image: url(../icons/grey/chevron-down.svg);
                background-repeat: no-repeat;
                background-size: contain;
                color: @c_green;
            }

            &:hover
            {
                &:before
                {
                    background-image: url(../icons/green/chevron-down.svg);
                }
            }

            ul
            {
                display: none;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                list-style: none;
                font-size: 0.8em;
                background: @c_white;
                border-radius: 1em;
                .drop-shadow(0px, 1px, 30px, -3px, 0.15);
                padding: 0;
                margin: 0 auto;
                background: @c_white;
                overflow: hidden;
                li
                {
                    text-align: center;
                    padding: 0 0.5em;
                    border-top: 1px solid @c_lightgrey;

                    &:first-child
                    {
                        border-top: none;
                    }

                    &:hover
                    {
                        background: @c_lightestgrey;
                    }

                }

            }
        }

    }

    .tooltip-toggler
    {
        display: inline-block;
        vertical-align: middle;
        .label,
        .text
        {
            font-size: 2.3em;
            font-weight: 500;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.6em;
            padding: 0;
            @media @tablet
            {
                font-size: 1.8em;
            }
        }
        .value.toggler,
        {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            line-height: 1.6em;
            font-size: 2.3em;
            font-weight: 500;
            padding: 0 1em 0 1.5em;
            margin: 0 0.5em;
            color: @c_green;
            border-radius: 1em;
            .drop-shadow(0px, 1px, 30px, -3px, 0.15);
            background: @c_white;

            @media @tablet
            {
                font-size: 1.8em;
            }

            input[type=text],
            input[type=number]
            {
                color: @c_green;
                border: none;
                font-size: 1em;
                font-weight: 500;
                text-align: center;
                width: 4em;
                background: none;
                margin-left: 0.5em;
                font-family: Rubik;
            }

            .do-toggle
            {
                position: absolute;
                width: 0.8em;
                height: 0.8em;
                left: 0.5em;
                top: 0;
                bottom: 0;
                margin: auto;
                content: "";
                background-image: url(../icons/grey/sliders.svg);
                background-repeat: no-repeat;
                background-size: contain;
                color: @c_green;
                cursor: pointer;

                &:hover
                {
                    background-image: url(../icons/green/sliders.svg);
                }
            }
        }

        .tooltip
        {
            display: none;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            list-style: none;
            background: @c_white;
            border-radius: 1em;
            .drop-shadow(0px, 1px, 30px, -3px, 0.15);
            padding: 0;
            margin: 0 auto;
            width: 160%;
            max-width: 90vw;
            min-height: 6em;
            padding: 0 1em 0.5em;
            font-size: 0.5em;

            .slider
            {
                .range-min,
                .range-max
                {
                    color: @c_black;
                    font-size: 0.8em;
                    line-height: 2em;
                }

                .label
                {
                    color: @c_grey;
                    font-size: 1em;
                    line-height: 2em;
                    display: block;
                    font-weight: 300;
                    padding-bottom: 1em;
                    padding-top: 1em;
                }

                .value
                {
                    position: absolute;
                    right: 1em;
                    top: 0;
                }
            }



        }
    }

    .cta
    {
        margin-top: 3em;

        .btn-inverse
        {
            padding: 0 3em;
            margin-right: 2em;
        }

        a
        {
            font-size: 1.17em;
        }

    }


}