.sidebar.widget-area
{
    .widget-title
    {
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    &.sidebar-top
    {
        margin-bottom: 4rem;
    }
    
    &.sidebar-bottom
    {
        margin-top: 4rem;
    }
    
    &.sidebar-right
    {
        margin: 1rem 0;
    }
}